<mat-toolbar color="primary">
  <span>BB Manager</span>
  <div class="buttons">
    <button mat-button routerLink="/users" routerLinkActive="active">User</button>
    <button mat-button routerLink="/admin" routerLinkActive="active">Admin</button>
    <button mat-button routerLink="/matches" routerLinkActive="active">Matches</button>
    <button mat-button routerLink="/league" routerLinkActive="active">League</button>
    <button mat-button routerLink="/stats" routerLinkActive="active">Stats</button>
    <button mat-button routerLink="/rules" routerLinkActive="active">Rules</button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>